
.timeline-container {
    position: relative;
    width: 100%;
    padding: 50px 0;
    height: 120vh; 
    background-color: white;
  }
  
  .vertical-line {
    position: absolute;
    left: 50%;
    width: 4px;
    background-color: black;
    top: 0;
    bottom: 0;
    z-index: 1; 
  }
  
  .experience-block {
    position: relative;
    width: 35%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: gray;
    color: white;
     border-radius: 5px; 
    border-top: 10px;
   border: 3px solid black;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
   
    margin-bottom: 25px; 
    
  }
  
  .experience-block.left {
     right: 0%;
    transform: translateX(50%);
  }
  .experience-block.right {
    left: 39%;
    transform: translateX(100%); 
  }
  
  .experience-block.visible {
    opacity: 1;
    transform: translateX(-55%);
  }
  
  h3, h4, p, span {
    margin: 10px 0;
    color: white;
  }
   


  